.tab-bar {
    height: 44px;
    width: auto;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
  }
  
  .tab {
    padding: 10px 20px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .tab:hover {
    background-color: #f0f0f0;
  }
  
  .tab.active {
    background-color: #ddd;
  }
  .bo{
    display: block;
    margin-top: 15px;
    background-color: rebeccapurple;
    /* padding-top: 10px;
    color: aqua; */
  }
  .bo.active{
    padding-top: 10px;
    color: rgb(255, 0, 13);
  }